.sauce {
    display: none;
}

.one {
    display: none;
}

.two {
    display: none;
}

.three {
    display: none;
}

.four {
    display: none;
}

.sze1 {
    display: none;
}

.sze2 {
    display: none;
}