.header {
    font-family: cursive;

}

.one {
    font-family: cursive;
}
body{
   background-color: bisque; 
}

#size1 {
    background-color: lightgreen;
    border-radius: 10px;
}
#size2 {
    background-color: lightgreen;
    border-radius: 10px;
}